.nav-bar > a:link {
    text-decoration: none;
    color: black;
}

.nav-bar > a:visited {
    text-decoration: none;
    color: black;
}

.nav-bar > a:hover {
    text-decoration: none;
    color: rgb(68, 68, 68);
}

.nav-bar > a:active {
    text-decoration: none;
    color: rgb(68, 68, 68);
}

.nav-bar {
    font-family: LexendExa;
    border-right: 3px solid rgb(224, 224, 224);
}

.nav-bar__logo {
    padding: 50px;
    display: inline-flex;
    align-items: center;
}

.nav-bar__logo p {
    font-size: 20px;
    font-family: LexendExaBold;
    padding: 0 0 0 15px;
}

.nav-bar__logo-img {
    width: 50px;
    height: 50px;
}

p.nav-bar__section {
    padding: 0 0 5px 50px;
    margin: 0;
}

.nav-bar__links {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 50px 0;
}

.nav-bar__option {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 15px 0 15px 50px;
}

.nav-bar__option a {
    text-decoration: none;
    padding-left: 5px;
}

.nav-bar__option:hover {
    background-color: rgb(224, 224, 224);
    color: rgb(0, 0, 0);
}

.nav-bar__option:hover a {
    color: rgb(0, 0, 0);
}

.nav-bar__option-icon {
    width: 20px;
    height: 20px;
}

.nav-bar__bottom {
    padding: 100% 0 0 0;
}